<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title> Transparent Login Form Design </title>

    <link rel="stylesheet" href="/css/login.css">
</head>
    <body>
    <div class="login-box">
    <img src="../Images/avatar.png" class="avatar">
        <h1>Sign Up</h1>
            <form action="/user/create" method="post">
            <p>Email</p>
            <input type="email" name="email" placeholder="Enter Email">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <p>Confirm_Password</p>
            <input type="password" name="confirm_password" placeholder="Enter Password">
            <input type="submit" name="submit" value="Sign Up">

            </form>



        </div>

    </body>
</html>
