<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <title>Frontend Mentor | Intro component with sign up form</title>
  <link rel="stylesheet" href="/css/login.css">
  <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>
  <div class="wrapper">
    <section class="left">
      <h1>Learn to code by watching others</h1>
      <p>  See how experienced developers solve problems in real-time. Watching scripted tutorials is great,
        but understanding how developers think is invaluable.</p>
    </section>
    <section class="right">
      <h1 class="heading">
        GET STARTED HERE
      </h1>
      <div class="form-group">
        <form id="form" action="/user/create" method="post">


          <div>
            <input type="email" class="email" placeholder="Email Address" name="email" id="email">
            <span class="error">Email cannot be empty</span>
          </div>


          <div>
            <input type="text" class="text" placeholder="Your Name" name="username" id="text">
            <span class="error">User Name cannot be empty</span>
          </div>
          <div>
            <input type="password" class="password" name="password" placeholder="Password" id="pass">
            <span class="error">Password cannot be empty</span>
          </div>
          <div>
            <input type="password" class="password"name="confirm_password" placeholder=" Confirm Password" id="pass">
            <span class="error">Confirm Password cannot be empty</span>
          </div>

          <button class="btn btn-green" type="submit">SIGN UP</button>
          <p>By clicking the button, you are agreeing to our <span>Terms and Services</span></p>
        </form>
      </div>
    </section>
  </div>


  <script src="/js/custom.js"></script>
</body>
</html>
